Times New Roman New Roman* {
 cursor: none;
}


html {
  background: #fff;
}


@font-face {
  font-family: "simsunb";
  src: url("font/simsunb.woff") format("woff");
  font-weight: regular;
}


/* cursor*/

.cursor {
position: absolute;
width: 15px;
height: 15px;
border-radius: 100%;
transform: translate(-50%, -50%);
border: 1px solid white;

background-color: rgba(0,0,0,1);
/* mix-blend-mode: difference; */
left: -100px;
cursor: none;
pointer-events: none;
z-index: 500;

transition: height width color s1s ease-in-out;


}


.grid {
  display: grid;
  grid-template-columns: repeat(9, 10vw [col-start]);
  grid-template-rows: repeat(20, 8vh [row-start]);
  width: 100%;
}

.grid-header{
  display: grid;
  grid-template-columns: repeat(9, 10vw [col-start]);
  grid-template-rows: repeat(1, 10vh [row-start]);
  width: 100%;
  /* background-color: white; */
  height: 20px;
  padding-top: 20px;
  margin-left: -20px;
  padding-left: 20px;
  padding-bottom: 10px;
  /* box-shadow: 3px 10px 15px 15px white; */

}


a {
  cursor: none;
}
body {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  cursor: none;

  background-color: white;
  color: black;

  font-size: 14px;
  font-family: "Courier New";
  letter-spacing: -.75px;
  overflow: scroll;
}


a {
  color: black;
  text-decoration: none;
}

.header-txt {
}

.header {
position: fixed;
font-weight: lighter;

}

.header a {
  /* font-family: "courier";
  font-weight: lighter; */
}

a:hover {
  /* transform: translate(10px, 0px); */
}

a.name {
  grid-column: 1 / span 2;
  grid-row: 1;
}


a.info {
  grid-column: 3/ span 2;
  grid-row: 1;
}

.update {
  grid-column: 5/ span 2;
  grid-row: 1;
}

/* .color {
  width: 100vw;
  background-color: lime;
  margin-left: -20px;
  grid-column: 1;
  grid-row: 1 / span 3;
} */


.title {
  font-size: 58px;
  font-family:"Times New Roman";
  margin-top: 40px;
  font-weight: ;
  letter-spacing: -.5px;
}



.title:hover {
  /* transform: skewX(15deg); */
  /* font-style: italic; */
  /* transform: translate(100px,0px); */
}
#gos-title {
  grid-column: 1/ span 10;
  grid-row: 5;
}


#ms-title {
  grid-column: 1/ span 10;
  grid-row: 8;
}

#az-title {
  grid-column: 1/ span 10;
  grid-row: 11;
}

#tip-title {
  grid-column: 1/ span 10;
  grid-row: 14;
}

#ai24-title {
  grid-column: 1/ span 10;
  grid-row: 17;
}

#mm-title {
  grid-column: 1/ span 10;
  grid-row: 20;
}


.link {

}

.description {
  font-family: "Courier New";
  font-weight: regular;
  padding-top: 30px;
  line-height: 20px;
}


.info-description{
  grid-column: 1/ span 7;
  grid-row: 2 / span 2;
  line-height: 1.25;
  font-size: 45px;
  font-family: "Times New Roman";
}

.info-links{
  grid-column: 9/ span 2;
  grid-row: 2 / span 6;
  line-height: 1.75;
  text-decoration: underline;
}

.info-links a{
margin-bottom: 100px;
}

#gos-des {
  grid-column: 1/ span 7;
  grid-row: 7 / span 2;
}

#ms-des {
  grid-column: 3/ span 7;
  grid-row: 14 / span 2;
}

#az-des {
  grid-column: 3/ span 7;
  grid-row: 21 / span 2;
}

#tip-des {
  grid-column: 3/ span 7;
  grid-row: 28 / span 2;
}

#ai24-des {
  grid-column: 3/ span 7;
  grid-row: 35 / span 2;
}


.line {
  height: 2px;
  width: 97vw;
  background-color: black;

}

#gos-line {
  grid-column: 1/ span 8;
  grid-row: 5 / span 2;
}


#ms-line {
  grid-column: 1/ span 8;
  grid-row: 8 / span 2;
}

#az-line {
  grid-column: 1/ span 10;
  grid-row: 11;
}

#tip-line{
  grid-column: 1/ span 10;
  grid-row: 14;
}

#ai24-line {
  grid-column: 1/ span 10;
  grid-row: 17;
}

#mm-line {
  grid-column: 1/ span 10;
  grid-row: 20;
}



.category, .date, .course, .comingsoon {
  /* margin-top: -35px; */


}

.category {
  grid-column: 1/ span 3;

}

.date {
  grid-column: 3/ span 4;

}

.course {
  grid-column: 5/ span 4;

}

.comingsoon {
  grid-column: 7/ span 4;

}

#gos-cat, #gos-date, #gos-cor {
  grid-row: 5 / span 2;
}


#ms-cat, #ms-date, #ms-cor {
  grid-row: 8 / span 2;
}

#az-cat, #az-date, #az-cor {
  grid-row: 11 / span 2;
}

#tip-cat, #tip-date, #tip-cor {
  grid-row: 14 / span 2;
}

#ai24-cat, #ai24-date, #ai24-cor, #ai24-cs {
  grid-row: 17 / span 2;
}

#mm-cat, #mm-date, #mm-cor, #mm-cs {
  grid-row: 20 / span 2;
}

.title:hover + img{
visibility: visible;

}



.index-img {
  visibility: hidden;
  width: 45vw;
  height: auto;
  right: 20px;
  top: 20px;
  z-index: 5;
  pointer-events: none;
  position: fixed;

}

.image-100 {
  width: 100vw;
  margin-left: -28px;
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;

}

.des-cat {
  font-weight: bold;
}

.inner-des {
  font-size: 14px;
  line-height: 1.3;
  font-weight: lighter;
  max-width: 600px;
  margin-top: 0px;
  font-family: "courier new";
  letter-spacing: -.75px;

}

.carousel-cell {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-position: center;

  prevNextButtons: false;

}




.main-carousel {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  /* transform: translate(-50%, -50%); */
}
